:root {
    --primary: purple;
}

.btn {
    padding: 8px 20px;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--large:hover {
    background: #fff;
    color: purple;
    transition: 250ms;
}