:root {
    --green: #479f6d;
    --white: #fff;
    --darkergray: #252424;
}

body {
    color: var(--darkergray);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    width: 100%;
    background-color: var(--darkergray);
    color: var(--white);
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-link {
    padding: 5px 0px;
    color: white;
}
