/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial;
}

:root {
    --darkblue: darkblue;
    --white: #fff;
    --dark: black;
    --purple: purple;
}


body {
    color: var(--darkblue);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

.nav-item {
    color: purple;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    width: 100%;
    background-color: lightgrey;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-item {
    padding: 10px;
    background-color: lightgrey;
    color: purple;
}

.nav-item:hover, a:hover {
    border-radius: 0.5rem;
    color: white;
    background-color: purple;
    display: block;
    cursor: pointer;
}

/* @media (max-width: 860px) {
    nav {
        flex-direction: column;
        align-items: start;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open{
        display: flex;
    }
} */